@model IEnumerable<shoptextno1.Models.truyen>
@{
    ViewBag.Title = "Listad";
    Layout = "~/Views/layout/layout.cshtml";
}

<table border="1" cellpadding="10">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>tinh trang</th>
        <th>gia</th>
        <th>idLoai</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var i in Model){
        <tr>
            <td>@i.id</td>
            <td>@i.ten</td>
            <td>@i.tinhtrang</td>
            <td>@i.gia</td>
            <td>@i.idLoai</td>
            <td><a href="~/admin/Admin/Update/@i.id">update</a></td>
            <td><a href="#" onclick="deleteid(@i.id)">Delete</a></td>
        </tr>
    }
</table>
<script>
    var deleteid = (id) => {
        if (confirm("you sur") == true) {
            location.href = "~/admin/Admin/Delete/" + id;
        }
    }
</script>
